a {
    color: #a09fff;
}

h1, h3, p {
    color: #eeeeee;
}

body {
    background-color: #222222;
    font-family: '-apple-system','Helvetica Neue','system-ui';
}

ul {
    color: #eeeeee;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}
